# /etc/systemd/system/iptables-fw.service
[Unit]
Description=Firewall IPTables personnalisé
Wants=network-online.target
After=network-online.target
Before=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fw.sh
RemainAfterExit=true
TimeoutStartSec=45
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
